// main: ../main.scss
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about-page {

  .content {
    background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
    padding: 40px;

    h3 {
      font-size: 14px;
      font-weight: 700;
      color: var(--accent-color);
      text-transform: uppercase;
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
    }

    p {
      margin: 15px 0 30px 0;
      line-height: 24px;
    }

    .social-links {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--accent-color);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
        font-size: 16px;
        color: color-mix(in srgb, var(--default-color), transparent 30%);
        margin-right: 10px;
        transition: 0.3s;
  
        i{
          color:white;
        }
  
        &:hover {
          color: var(--accent-color);
          border-color: var(--accent-color);
        }
      }
    }
  }
}