// main: ../main.scss
/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.cta {
  background: var(--hero-background);
  color: #fff;
  background-size: cover;
  padding: 60px 0;

  h3 {
    font-size: 28px;
    font-weight: 700;
  }

  .cta-btn {
    font-family: var(--default-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      background: var(--default-color);
      color: var(--primary);
    }
  }
}