/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}


@import './sections/_hero.scss';
@import './sections/_about.scss';
@import './sections/_about-page';
@import './sections/_clients.scss';
@import './sections/call-to-action.scss';
@import './sections/_contact.scss';
@import './sections/_faq.scss';
@import './sections/_features.scss';
@import './sections/_features-details.scss';
@import './sections/_featured-services.scss';
@import './sections/_services.scss';
@import './sections/_services-2.scss';
@import './sections/_more-features.scss';
@import './sections/_portfolio.scss';
@import './sections/portfolio-details';
@import './sections/_pricing.scss';
@import './sections/_service-details.scss';
@import './sections/_starter-section.scss';
@import './sections/_testimonials.scss';
@import './sections/_questionaire.scss';