// main: ../main.scss
/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  --background-color: color-mix(in srgb, var(--default-color), transparent 96%);
  color: var(--default-color);
  background-color: var(--background-color);
 
  height: 300px;
  position: relative;


  h1 {
    font-size: 24px;
    font-weight: 700;
    color: white;
   
    text-align: center;

  }

}



  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 140px 0 60px 0;
    min-height: 30vh;

    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .breadcrumbs:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
  }
  
  .breadcrumbs h2 {
    font-size: 46px;
    font-weight: 500;
    color: #fff;
justify-content: flex-start;
  
  }
  
  